@font-face {
  font-family: Caveat;
  src: url(./fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: CaveatBold;
  src: url(./fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: LatoBlack;
  src: url(./fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(./fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: LatoLight;
  src: url(./fonts/Lato-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
}

a {
  text-decoration: none;
}

#website {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 100%;
  margin-top: -132px;
}

nav {
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1;
}
nav .nav-logo {
  width: 167px;
  height: 55px;
  background-image: url(../images/logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav .nav-links {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}
nav .nav-links a {
  font-family: Caveat;
  font-size: 25px;
  color: #000;
}
nav .nav-links button {
  width: 158px;
  height: 52px;
  border: none;
  background-color: #FFD972;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
}

.home {
  background-image: linear-gradient(rgba(242, 92, 84, 0.4), rgba(242, 92, 84, 0.4)), url(../images/hero.jpg);
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home .yellow-ellipse {
  margin: 0 auto;
  position: absolute;
  left: 400px;
  top: 240px;
  height: 358px;
  width: 358px;
  background-color: #FFD972;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 120px;
}
.home .yellow-ellipse .yellow-elipse-text {
  margin: 0 auto;
  width: 164px;
  height: 140px;
}
.home .yellow-ellipse .yellow-elipse-text h1 {
  text-align: center;
  font-size: 24px;
  font-family: CaveatBold;
  color: black;
}
.home .yellow-ellipse .yellow-elipse-text p {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  font-family: Lato;
  color: black;
}
.home .pink-ellipse {
  position: absolute;
  left: 680px;
  top: 200px;
  height: 168px;
  width: 168px;
  background-color: #FCBCB8;
  border-radius: 50%;
  display: inline-block;
  padding-top: 60px;
}
.home .pink-ellipse .pink-ellipse-text {
  margin: 0 auto;
  width: 106px;
  height: 40px;
}
.home .pink-ellipse .pink-ellipse-text p {
  text-align: center;
  font-size: 10px;
  font-family: Lato;
  font-style: italic;
  color: black;
}

.recipes-content {
  width: 100%;
  min-height: 100vh;
  padding: 0 107px;
  padding-top: 132px;
  background-image: linear-gradient(rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url(../images/recipe-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.recipes-content h1 {
  margin-top: 60px;
  font-family: CaveatBold;
  font-size: 25px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
.recipes-content .recipe-list {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content {
  width: 524px;
  height: 263px;
  display: flex;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-img {
  width: 300px;
  height: 263px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-img button {
  width: 158px;
  height: 52px;
  border: none;
  background-color: #FFD972;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-text {
  width: 224px;
  height: 263px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-text a h2 {
  color: #000;
  width: 130px;
  font-family: LatoBlack;
  font-size: 15px;
  border-bottom: solid 3px #000;
  letter-spacing: 1px;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-text p {
  width: 138px;
  font-family: Lato;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: center;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-text .recipe-list-info {
  width: 90px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-content .recipe-list-text .recipe-list-info img {
  width: 24px;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-btns {
  margin-top: 15px;
}
.recipes-content .recipe-list .recipe-list-item .recipe-list-item-btns button {
  width: 158px;
  height: 52px;
  border: none;
  background-color: #FFD972;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
}

.recipe-create {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 214px;
  padding-top: 214px;
  padding-left: 149px;
  padding-right: 149px;
  margin: 0 auto;
}
.recipe-create h1 {
  text-align: left;
  font-size: 25px;
  font-family: CaveatBold;
  color: black;
}
.recipe-create h2 {
  text-align: left;
  font-size: 20px;
  font-family: LatoBlack;
  color: black;
  margin-bottom: 50px;
}
.recipe-create .recipe-input-container {
  margin: 0 auto;
  height: 30px;
  width: 980px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.recipe-create .recipe-input-container #recipe-input {
  width: 100%;
  height: 100%;
  font-family: LatoLight;
  font-size: 20px;
  color: #000;
  border: none;
  border-bottom: solid 3px #000;
  background-color: transparent;
  outline: none;
}
.recipe-create .recipe-input-container #addFile {
  width: 110px;
  height: 36px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 17px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  position: absolute;
  top: -15px;
  right: 0;
}
.recipe-create #plus {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 20px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  color: white;
  position: absolute;
  top: -15px;
  right: 0;
  padding-top: 5px;
  padding-bottom: 8.45px;
  padding-left: 13px;
  padding-right: 14px;
}
.recipe-create #addRecipe {
  width: 422px;
  height: 52px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-bottom: 200px;
  position: absolute;
  left: 250px;
}

.recipe-edit {
  width: 100%;
  min-height: 100vh;
  padding-top: 214px;
  padding-bottom: 214px;
  padding-left: 149px;
  padding-right: 149px;
  margin: 0 auto;
  position: relative;
}
.recipe-edit h1 {
  text-align: left;
  font-size: 25px;
  font-family: CaveatBold;
  color: black;
}
.recipe-edit h2 {
  text-align: left;
  font-size: 20px;
  font-family: LatoBlack;
  color: black;
  margin-bottom: 50px;
}
.recipe-edit .recipe-input-container {
  margin: 0 auto;
  height: 30px;
  width: 980px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.recipe-edit .recipe-input-container #recipe-input {
  width: 100%;
  height: 100%;
  font-family: LatoLight;
  font-size: 20px;
  color: #000;
  border: none;
  border-bottom: solid 3px #000;
  background-color: transparent;
  outline: none;
}
.recipe-edit .recipe-input-container #addFile {
  width: 110px;
  height: 36px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 17px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  position: absolute;
  top: -15px;
  right: 0;
}
.recipe-edit .recipe-input-container #plus {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 20px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  color: white;
  position: absolute;
  top: -15px;
  right: 0;
  padding-top: 5px;
  padding-bottom: 8.45px;
  padding-left: 13px;
  padding-right: 14px;
}
.recipe-edit .recipe-input-container #addRecipe {
  width: 422px;
  height: 52px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-bottom: 200px;
  position: absolute;
  left: 250px;
}

.recipe-view {
  width: 100%;
  min-height: 100vh;
  padding-top: 214px;
  padding-right: 178px;
  padding-left: 92px;
  padding-bottom: 214px;
  margin: 0 auto;
}
.recipe-view .description {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 500px;
  width: 980px;
  position: relative;
}
.recipe-view .description #recipe-view-title {
  rotation-point: 50% 50%;
  rotation: 180deg;
  font-size: 20px;
  font-family: LatoBlack;
  color: black;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  top: 100;
  rotate: 270deg;
}
.recipe-view .description .recipe-image {
  background-color: aqua;
  position: absolute;
  left: 100px;
  top: 0;
  width: 468px;
  height: 421px;
  background-size: cover;
}
.recipe-view .description .recipe-description {
  width: 420px;
  position: absolute;
  left: 630px;
  top: 0;
}
.recipe-view .description .recipe-description h2 {
  text-align: left;
  font-size: 25px;
  font-family: LatoBlack;
  color: black;
  margin-bottom: 36px;
}
.recipe-view .description .recipe-description p {
  text-align: left;
  font-size: 20px;
  font-family: Caveat;
  margin-bottom: 36px;
  color: black;
}
.recipe-view .description .recipe-description h3 {
  text-align: left;
  font-size: 20px;
  font-family: LatoBlack;
  color: black;
  margin-top: 40px;
  margin-bottom: 36px;
}
.recipe-view .ingredients {
  margin-top: 100px;
}
.recipe-view .ingredients h2 {
  text-align: left;
  font-size: 25px;
  font-family: LatoBlack;
  color: black;
  margin-bottom: 36px;
}
.recipe-view .ingredients p {
  text-align: left;
  font-size: 20px;
  font-family: Caveat;
  margin-bottom: 36px;
  color: black;
  line-height: 0px;
}
.recipe-view .instructions {
  margin-top: 100px;
}
.recipe-view .instructions h2 {
  text-align: left;
  font-size: 25px;
  font-family: LatoBlack;
  color: black;
  margin-bottom: 36px;
}
.recipe-view .instructions p {
  text-align: left;
  font-size: 20px;
  font-family: Caveat;
  margin-bottom: 36px;
  color: black;
  line-height: 0px;
}
.recipe-view .recipe-input-container #editRecipe {
  width: 130px;
  height: 42px;
  margin: 0 auto;
  border: none;
  background-color: #FCBCB8;
  font-family: Caveat;
  font-size: 20px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-top: 50px;
  background-color: #FFD972;
}

.login-content {
  width: 100%;
  background-color: #FFD972;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login-content .login-form {
  width: 206px;
  min-height: 100px;
  margin-bottom: 50px;
}
.login-content .login-form h1 {
  font-family: LatoBlack;
  font-size: 30px;
  color: #000;
  letter-spacing: 3px;
  margin-bottom: 55px;
}
.login-content .login-form #login-email, .login-content .login-form #login-pw {
  width: 100%;
  height: 19px;
  font-family: Lato;
  font-size: 12px;
  color: #000;
  border: none;
  border-bottom: solid 3px #000;
  background-color: transparent;
  outline: none;
  margin-bottom: 51px;
}
.login-content .login-form #login-submit {
  width: 158px;
  height: 52px;
  border: none;
  background-color: #FFD972;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  width: 100%;
}
.login-content .signup-form {
  width: 250px;
  min-height: 100px;
  margin-bottom: 50px;
}
.login-content .signup-form p {
  font-family: LatoItalic;
  font-size: 12px;
  letter-spacing: 1px;
}
.login-content .signup-form h1 {
  font-family: Lato;
  font-size: 30px;
  color: #000;
  letter-spacing: 3px;
  margin-bottom: 55px;
}
.login-content .signup-form #signup-fn, .login-content .signup-form #signup-ln, .login-content .signup-form #signup-email, .login-content .signup-form #signup-pw {
  width: 100%;
  height: 19px;
  font-family: Lato;
  font-size: 12px;
  color: #000;
  border: none;
  border-bottom: solid 3px #000;
  background-color: transparent;
  outline: none;
  margin-bottom: 51px;
}
.login-content .signup-form #signup-submit {
  width: 158px;
  height: 52px;
  border: none;
  background-color: #FFD972;
  font-family: Caveat;
  font-size: 25px;
  border-radius: 45px;
  filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.16));
  cursor: pointer;
  width: 100%;
}

footer {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  margin-top: -70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-family: LatoItalic;
  font-size: 15px;
  letter-spacing: 1px;
}
footer #footer-links {
  display: flex;
  gap: 26px;
}
footer #footer-links a {
  font-family: LatoItalic;
  font-size: 15px;
  letter-spacing: 1px;
  color: #000;
}
footer #footer-social {
  display: flex;
  gap: 40px;
}
footer #footer-social a img {
  width: 19px;
  height: 19px;
}

/*# sourceMappingURL=styles.css.map */
