//Contains code for the most common button on the page
@mixin button {
    width: 158px;
    height: 52px;
    border: none;
    background-color: $site-yellow;
    font-family: Caveat;
    font-size: 25px;
    border-radius: 45px;
    filter: drop-shadow(0 10px 6px rgba(0,0,0,.16));
    cursor: pointer;
}

//Contains code to automatically format background images in divs
@mixin bgImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin inputField($width, $height, $font-size) {
    width: $width;
    height: $height;

    font-family: Lato;
    font-size: $font-size;
    color: $site-black;
    
    border: none;
    border-bottom: solid 3px $site-black;
    background-color: transparent;
}

@mixin recipe-inputField($width, $height, $font-size) {
    width: $width;
    height: $height;

    font-family: LatoLight;
    font-size: $font-size;
    color: $site-black;
    
    border: none;
    border-bottom: solid 3px $site-black;
    background-color: transparent;
}

@mixin recipe-button($width, $height, $font-size) {
    width: $width;
    height: $height;

    border: none;
    background-color: $site-pink;

    font-family: Caveat;
    font-size: $font-size;
    border-radius: 45px;
    filter: drop-shadow(0 10px 6px rgba(0,0,0,.16));
    cursor: pointer;
}
