.recipe-view{
    width: 100%;
    min-height: 100vh;
    padding-top: 214px;
    padding-right: 178px;
    padding-left: 178px;
    padding-bottom: 214px;
    margin: 0 auto;

    .description{
        margin: 0 auto;
         display: flex;
         align-items: center; 
         justify-content: space-evenly;
    background-color: aqua;
    position: relative;


        #recipe-view-title{
            text-align: left;
        font-size: 20px;
        font-family: LatoBlack;
        color: black;
        margin-bottom:50px;
        position: absolute;
        left: 10px;
        top: 0;

        }
        .recipe-image{
            position: absolute;
            left: 20px;
            top: 0;
            width: 468px;
            height: 421px;
            background-size: cover;

        }

        .recipe-description{
            width: 468px;
            position: absolute;
            left: 540px;
            top: 0;
            h2{
                text-align: left;
                font-size: 25px;
                font-family: LatoBlack;
                color: black;
                margin-bottom:20px;
        
              }

              p{
                text-align: left;
                font-size: 20px;
                font-family: Caveat;
                margin-bottom:20px;
                color: black;
              }
              h3{
                text-align: left;
                font-size: 20px;
                font-family: LatoBlack;
                color: black;
                margin-bottom:20px;
        
              }
        }
    }
}