.recipe-create{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 214px;
    padding-top: 214px;
    padding-left: 149px;
    padding-right: 149px;
    margin: 0 auto;



    .recipe-create-formHolder{
      position: relative;
      min-height: auto;

      h1{
        text-align: left;
        font-size: 25px;
        font-family: CaveatBold;
        color: black;

      }

      h2{
        text-align: left;
        font-size: 20px;
        font-family: LatoBlack;
        color: black;
        margin-bottom:50px;

      }


      .recipe-input-container{
        margin: 0 auto;
        // background-color: aqua;
        height: 30px ;
        width: 980px;
        margin-top: 100px;
        margin-bottom: 100px;
        position: relative;
       

        input, #step0, #step1,#step2, #ingred0, #ingred1, #ingred2{
            @include recipe-inputField(100%, 100%, 20px);
  
        }

        #addFile{
            @include recipe-button(110px, 36px, 17px);
            position: absolute;
            top: -15px;
            right: 0;
        }

       

      }

      .addBtn, .addSBtn{
        @include recipe-button(38px, 38px, 20px);
        color: white;
        position: absolute;
        bottom:10px;
        right: 0;
        padding-top: 5px;
        padding-bottom: 8.45px;
        padding-left: 13px;
        padding-right: 14px;
    }


      #createRecipe{
        @include recipe-button(422px, 52px, 25px);
        text-align: center;
        margin-bottom: 200px;
        position: absolute;
        left: 250px;
        // center?
    }

    }

  


}
